page-login {
  .bg {
    background-image: url("../../assets/imgs/login-bg.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }

  .sudut {
    border-radius: 10px;
  }
}
